{% extends "__base__.html" %}

{% block title %}Strona Główna{% endblock %}

{% block navbar %}
                <ul class="navbar-nav">
                    {% if nav_bar_elements is not none %}
                        {% for nav_bar_element in nav_bar_elements %}
                            <li>
                                <div class="box-1">
                                    <div class="btn btn-1 btn-2">
                                        <a href="{{ nav_bar_element.href }}"><span>{{ nav_bar_element.name }}</span></a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
{% endblock %}

{% block content %}
    <div class="m-4 p-3 width-medium text-color-darker bg-white">
        Random text
        Witaj {{ username }}
        {{ test }}
        {% if user_type == "student" %}
            <h1>Witaj uczniu </h1>
        {% elif user_type == "teacher" %}
            <h1>Witaj nauczycielu</h1>
        {% endif %}
    </div>
{% endblock %}
