{% extends "__base__.html" %}

{% block title %}Strona Główna{% endblock %}

{% block navbar %}
                <ul class="navbar-nav">
                    {% if navbar_options == "teacher" %}
                            <li>
                                <div class="box-1">
                                    <div class="btn btn-1 btn-2">
                                        <a href="/class/subject/lesson/init"><span>Rozpocznij lekcję</span></a>
                                    </div>
                                    <div class="btn btn-1 btn-2">
                                        <a href="/logout"><span>Wyloguj</span></a>
                                    </div>
                                </div>
                            </li>
                    {% elif navbar_options == "student" %}
                            <li>
                                <div class="box-1">
                                    <div class="btn btn-1 btn-2">
                                        <a href="/student/show_grades"><span>Pokaż oceny</span></a>
                                    </div>
                                    <div class="btn btn-1 btn-2">
                                        <a href="/logout"><span>Wyloguj</span></a>
                                    </div>
                                </div>
                            </li>
                    {% endif %}
                </ul>
{% endblock %}

{% block content %}
    <div class="m-4 p-3 width-medium text-color-darker bg-white">
        <h1>Witaj {{ username }}. Wybierz z menu powyżej co chcesz wykonać</h1>
        {% if user_type == "student" %}
            <h1>Witaj uczniu </h1>
        {% elif user_type == "teacher" %}
            <h1>Witaj nauczycielu</h1>
        {% endif %}
    </div>
{% endblock %}
